<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<title>Login to {{****server name****}}</title>
	<meta charset="UTF-8" />
	<style>
		@import url(https://fonts.googleapis.com/css?family=Merriweather:400);
		* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
		.login {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -200px 0 0 -200px;
			width: 400px;
			height: 400px;
		}
		.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
		.form input {
			width: 100%;
			margin-bottom: 10px;
			background: rgba(0,0,0,0.35);
			outline: none;
			padding: 10px;
			font-size: 1.2em;
			color: #fff;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
			border: 1px solid rgba(0,0,0,0.3);
			border-radius: 4px;
			box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
			-webkit-transition: box-shadow .5s ease;
			-moz-transition: box-shadow .5s ease;
			-o-transition: box-shadow .5s ease;
			-ms-transition: box-shadow .5s ease;
			transition: box-shadow .5s ease;
		}
		.form button {
			font-size: 1.2em;
			outline: 0;
			background: rgba(9,100,166,1);
			background: linear-gradient(90deg, rgba(9,100,192,1) 0%, rgba(9,100,166,1) 46%, #092756 100%);
			width: 100%;
			border: 0;
			padding: 15px;
			color: #FFFFFF;
			cursor: pointer;
		}
		.form button:hover,.form button:active,.form button:focus {
			background: rgba(9,64,128,1);
		}
		body {
			background: rgba(9,100,166,1);
			background: linear-gradient(90deg, #092756 0%, #092756 30%, rgba(9,100,166,1) 64%, rgba(255,255,255,1) 100%);
			font-family: "Merriweather", sans-serif;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		.failedp { text-align: center; color: #f80; }
	</style>
	<script>
		function on_load()
		{
			const form = document.querySelector('form.form');
			form.addEventListener('submit', (e) => {e.preventDefault(); new FormData(form);});
			form.addEventListener("formdata", async (event) =>
			{
				console.log(event.formData);
				try
				{
					const response = await fetch(form.action, {
						method: "POST",
						body: new URLSearchParams(event.formData),
					});
					// Parse redirect location from current URL
					const location = new URLSearchParams(window.location.search.substring(1)).get("redirect");
					console.log("login result:", response.status, "redirecting to", location);
					window.location.replace(location);
				}
				catch (e)
				{
					console.error(e);
				}
				event.preventDefault();
			});
		}
	</script>
</head>
<body onload="on_load();">

<div class="login">
	<h1>Login</h1>

	<!-- POST action is the same as this page. -->
	<form class="form" method="post" action="login">
		<input type="text" name="username" placeholder="Username" required="required" />
		<input type="password" name="password" placeholder="Password" required="required" />
		<input type="text" name="totp" placeholder="OTP token" required="required" />
		<h4 class="failedp">{{***login-failed***}}</h4>
		<button id="submit_btn">Login</button>
	</form>
</div>

</body>
</html>
